#title{
    background-color: #ff4c68;
    color: white;
}

.container-fluid{
    padding: 3% 15% 7%;
}

h1{
    font-weight: 900;
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

body{
    font-family: "Montserrat-italic";
}

/* Nav-bar Section  */

.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding: 0 0 4.5rem 0;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/* Download Button */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* 2nd Section  FEATURES SECTION */

#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

h3{
    font-family: "Montserrat";
}

p{
    color: #8f8f8f;
}

.icon{
    color: #ef8172;
    margin: 0 0 1rem 0;

}

.icon:hover{
    color: #ff4c68;
}

/* testimonials section  */

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}

h2{
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press section */

#press{
    background-color: #ef8172;
    text-align: center;
    padding: 0 0 3% 0;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding:7% 15%;
}


/* Pricing Section */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

/* Media query breakpoints ( To change the view of our site into mobile  ) */

@media (max-width: 1028px)
{

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }
}

/* CTA Section */

#cta{
    background-color: #ff4c68;
    color: white;
    padding: 7% 15%;
    text-align: center;
    
}

.cta-heading{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

/*  Footer Section  */

#footer{
    padding: 7% 15%;
    text-align: center;
}

.social-icon{
    margin: 20px 10px;
    
}